@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  justify-content: center;
  padding: 3rem;
  font-size: 2rem;
  
}

.underline {
  border: 1px solid black;
  margin-top: 1rem;

}

.menu-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-size: ;
  height: 2rem;
  width: 5rem;
  
}